body {
    margin: 0;
    font-family: Arial;
    background-color: lightgray;
}



header {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    color: orange;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

nav a:hover {
    color: orange;
}




.home {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.home h2 {
    font-size: 35px;
}

.home a {
    display: inline-block;
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 15px;
}




section {
    padding: 50px 8%;
    text-align: center;
}

section h2 {
    color: #333;
}




.programs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box {
    background-color: white;
    width: 250px;
    padding: 20px;
    border: 1px solid gray;
}

.box h3 {
    color: orange;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 15px;
}




form {
    background-color: white;
    width: 350px;
    margin: auto;
    padding: 25px;
    border: 1px solid gray;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

textarea {
    height: 80px;
}

form button {
    margin-top: 15px;
    width: 100%;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}